body{
    background-color: cyan;
}
.countryStyle{
    background-color: #6df9c6;
    text-shadow: 2px 2px 5px rgb(185, 183, 198);
    align-items:flex-start;
    float: left;
    padding: 20px;
    margin: 20px;
   height: 400px;
   width: 370px;
   box-shadow: 1px 2px 25px;
   border-radius: 5px;
   align-items: start;
  justify-content: space-between;
}
img{
    height: 80px;
}
.Add-Button{
    border: none;
    background: #404040;
    color: #ffffff;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    
}
.Add-Button:hover {
    color: #404040;
    font-weight: 700;
    letter-spacing: 3px;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
  }
h1{
    text-shadow: 1px 7px 10px rgb(188, 120, 131);
    text-decoration: none;
}
.name:hover {
    color: #404040;
    font-weight: 700;
    letter-spacing: 3px;
    background: none;
    /* box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57); */
    /* -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57); */
    transition: all 0.3s ease 0s;
    box-shadow: inset;
}